html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #212636;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
  background-color: var(--layout-bg-color);
}

body, html {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100%;
}
