html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-size: var(--base-font-size);
}

/* color: #212636; */
body {
  margin: 0;
  color: var(--text-color-regular);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
  background-color: var(--layout-bg-color);
}

body, html {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100%;
}

@font-face {
  font-family: "HarmonyOS Sans Regular";
  src: url(../assets/font/HarmonyOS_Sans_Regular.ttf) format('truetype');
}

@font-face {
  font-family: "HarmonyOS Sans Medium";
  src: url(../assets/font/HarmonyOS_Sans_Medium.ttf) format('truetype');
}
