html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  background-color: #f7fafc;
}

body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}

#app {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
